.registration-page, .login-page {
    background-color: rgba(0, 0, 0, 0.05);
    height: auto;
    text-align: center;
    color: white;
}

.registration-page, .login-page h3{

    margin-top: 10px;
    margin-bottom: 20px;
    font-size: clamp(18px, 5vw, 28px);
}

.registration-page form, .login-page form{
    max-width: 600px;
    margin: 0 auto;
}

.registration-page form input, .login-page form input{
    width: 100%;
    /* min-width: 380px; */
    height: 2.5rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    font-size: clamp(17px, 5vw, 22px);
    text-align: center;
}

.registration-page form button, .login-page form button{
    background-color: red;
    height: 2rem;
    width: 150px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 800;

}

.registration-page, .login-page .login-section{

    margin: 1rem 0;
    padding-bottom: 15px;
}

.registration-page, .login-page .login-section p{
    margin-bottom: 1rem;
    font-size: clamp(16px, 5vw, 22px);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.registration-page, .login-page .login-section span{
    color: red;
}



/* details page css */
.timing{
    border: 2px solid;
    padding: 1rem 0;
    max-width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 800;
}

.timing:hover{
    background-color: red;
    transition: all 1s ease-in;
    
}

.date{
    border: 2px solid;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 25px;
}

.date:checked{
    background-color: red;
}

.modalOpen{
    width: 100%;
    height: 100%;
    background-color: rgb(26, 25, 25);
    position: absolute;
    top: 0;
    transition: all 0.5 linear;
    overflow-y: scroll;
}

.modalOpen span {
    color: red;
    font-size: 45px;
    position: absolute;
    right: 0;
}

.screen{
    width: 200px;
    background-color: aquamarine;
    height: 1rem;
    position: absolute;
    bottom: 0;
    left: 35%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: black;
    font-weight: 800;
    text-align: center;

}

.seatlayout{
    display: flex;  
    margin: 2rem; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center; 
    position: relative; 
    padding: 0 0 2rem 0;
}

.seat{
    color: black;
    width: 55px;
    margin: 10px 5px;
    text-align: center;
    font-weight: 800;
}

.seatbooked{
    background-color: orange;
}

.seatavailable{
   background-color: green;
}

.seatalreadyreserved{
    background-color: red;
    pointer-events: none;
}

.payment_button{
    margin-top: 1.5rem;
    max-width: 500px;
    position: inherit;
    right: 0;
    margin-right: 20px;
}


/* tablet responsive view*/

@media (max-width: 1280px) {
    .modalOpen{
        left: 0;
    }

    .seat{
       font-weight: 300;
       width: 41px;
       margin: 10px 1px;
       text-align: center;

    }
    
    .seatlayout{
        display: flex;  
        margin: 2rem 1rem; 
        flex-wrap: wrap; 
        justify-content: space-between; 
        align-items: center; 
        position: relative; 
        padding: 2rem 0;
    }
    }

@media (max-width: 770px) {
.modalOpen{
    left: 0;
}

.seat{
    font-weight: 300;
    color: black;
    width: 47px;
    margin: 10px 1px;
}

.seatlayout{
    display: flex;  
    margin: 0 2rem; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center; 
    position: relative; 
    padding: 2rem 0;
}
}

@media (max-width: 500px) {
    .modalOpen{
        left: 0;
    }
    
    .seat{
        font-weight: bold;
        font-size: 15px;
        color: black;
        width: 27px;
        margin: 10px 1px;
    }
    .seatlayout{
        margin: 0 1.8rem; 
        padding: 2rem 0;
    }
}

@media (max-width: 465px) {
        .modalOpen{
           left: 0;
        }
        
        .seat{
           font-weight: bold;
           font-size: 14px;
           color: black;
           width: 25px;
           margin: 10px 1px;
        }
        .seatlayout{
            margin: 0 2rem; 
            justify-content: space-between; 
            align-items: center; 
            position: relative; 
            padding: 2rem 0;
        }
}
    
@media (max-width: 430px) {
    .modalOpen{
        left: 0;
    }
    
    .seatavailable{
       font-weight: bold;
       font-size: 12px;
       color: black;
       width: 24px;
       margin: 10px 1px;
    }
    .seatlayout{
        margin: 1.3rem; 
        justify-content: space-between; 
        flex-wrap: wrap; 
        align-items: center; 
        position: relative; 
        padding: 2rem 0;
    }
}

    

