.registration-page, .login-page {
    background-color: rgba(0, 0, 0, 0.05);
    height: auto;
    text-align: center;
    color: white;
}

.registration-page, .login-page h3{

    margin-top: 10px;
    margin-bottom: 20px;
    font-size: clamp(18px, 5vw, 28px);
}

.registration-page form, .login-page form{
    max-width: 600px;
    margin: 0 auto;
}

.registration-page form input, .login-page form input{
    width: 100%;
    /* min-width: 380px; */
    height: 2.5rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    font-size: clamp(17px, 5vw, 22px);
    text-align: center;
}

.registration-page form button, .login-page form button{
    background-color: red;
    height: 2rem;
    width: 150px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 800;

}

.registration-page, .login-page .login-section{

    margin: 1rem 0;
    padding-bottom: 15px;
}

.registration-page, .login-page .login-section p{
    margin-bottom: 1rem;
    font-size: clamp(16px, 5vw, 22px);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.registration-page, .login-page .login-section span{
    color: red;
}



/* details page css */
.timing{
    border: 2px solid;
    padding: 1rem 0;
    max-width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 800;
}

.timing:hover{
    background-color: red;
    transition: all 1s ease-in;
    
}

.date{
    border: 2px solid;
    margin: 1rem 0;
    padding: 1rem;
}
.date:checked{
    background-color: red;
}

